NODE_ENV=development

API_GATEWAY_PORT=3000
USER_PROFILE_PORT=3001
ENVIRONMENTAL_DATA_PORT=3002
SYMPTOM_REPORT_PORT=3003
ALLERGY_RISK_PORT=3004
ROUTE_RECOMMENDATION_PORT=3005
NOTIFICATION_PORT=3006

POSTGRES_USER=pollenshield
POSTGRES_PASSWORD=pollenshield
POSTGRES_DB=pollenshield
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

MONGODB_URI=mongodb://mongodb:27017/pollenshield
REDIS_URL=redis://redis:6379
RABBITMQ_URL=amqp://rabbitmq:5672

